Node-Red Flow.txt
[{"id":"6b2eed1d.c58ea4","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ddd427cf.fa97d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2bf2bed3.eb09e2","type":"ui_tab","z":"","name":"smarthome","icon":"dashboard","disabled":false,"hidden":false},{"id":"6210a0b8.3000b","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"8d8e9858.b39198","type":"ui_group","z":"","name":"smarthome","tab":"2bf2bed3.eb09e2","order":1,"disp":true,"width":"6","collapse":false},{"id":"d66546e4.09dde8","type":"ibmiot in","z":"6b2eed1d.c58ea4","authentication":"apiKey","apiKey":"6210a0b8.3000b","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"mcu123","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"Data","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":180,"wires":[["b8314276.3b0b7","968cc790.57e808"]]},{"id":"717632e1.97208c","type":"debug","z":"6b2eed1d.c58ea4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":180,"wires":[]},{"id":"968cc790.57e808","type":"function","z":"6b2eed1d.c58ea4","name":"temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":120,"wires":[["d4841410.7796e8","717632e1.97208c"]]},{"id":"b8314276.3b0b7","type":"function","z":"6b2eed1d.c58ea4","name":"humidity","func":"global.set('humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":220,"wires":[["e90309dd.164088","717632e1.97208c"]]},{"id":"d4841410.7796e8","type":"ui_gauge","z":"6b2eed1d.c58ea4","name":"","group":"8d8e9858.b39198","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":100,"wires":[]},{"id":"e90309dd.164088","type":"ui_gauge","z":"6b2eed1d.c58ea4","name":"","group":"8d8e9858.b39198","order":1,"width":0,"height":0,"gtype":"gage","title":"Humitidy","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":240,"wires":[]},{"id":"14f1694b.974a17","type":"ui_button","z":"6b2eed1d.c58ea4","name":"","group":"8d8e9858.b39198","order":3,"width":0,"height":0,"passthru":false,"label":"LIGHTON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"LIGHTON\"}","payloadType":"json","topic":"","x":210,"y":540,"wires":[["84c2d89.5cc1a28","37db78ce.da8538"]]},{"id":"5977b2d5.8ef25c","type":"ui_button","z":"6b2eed1d.c58ea4","name":"","group":"8d8e9858.b39198","order":4,"width":0,"height":0,"passthru":false,"label":"LIGHTOFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"LIGHTOFF\"}","payloadType":"json","topic":"","x":220,"y":620,"wires":[["84c2d89.5cc1a28","37db78ce.da8538"]]},{"id":"84c2d89.5cc1a28","type":"ibmiot out","z":"6b2eed1d.c58ea4","authentication":"apiKey","apiKey":"6210a0b8.3000b","outputType":"cmd","deviceId":"mcu123","deviceType":"NodeMCU","eventCommandType":"smarthome","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":620,"y":620,"wires":[]},{"id":"bbb47a58.670268","type":"http in","z":"6b2eed1d.c58ea4","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":190,"y":360,"wires":[["ee1e4fab.48608"]]},{"id":"8031177a.083b48","type":"http response","z":"6b2eed1d.c58ea4","name":"","statusCode":"","headers":{},"x":550,"y":360,"wires":[]},{"id":"ee1e4fab.48608","type":"function","z":"6b2eed1d.c58ea4","name":"","func":"msg.payload={'temperature':global.get(\"temperature\"),'humidity':global.get(\"humidity\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":360,"wires":[["8031177a.083b48"]]},{"id":"a5453310.85d77","type":"http in","z":"6b2eed1d.c58ea4","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":230,"y":460,"wires":[["15217da3.5ed9e2"]]},{"id":"7d2675d9.e4f5fc","type":"http response","z":"6b2eed1d.c58ea4","name":"","statusCode":"","headers":{},"x":610,"y":460,"wires":[]},{"id":"15217da3.5ed9e2","type":"function","z":"6b2eed1d.c58ea4","name":"command","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":480,"wires":[["7d2675d9.e4f5fc","84c2d89.5cc1a28","20c80d97.a89512"]]},{"id":"37db78ce.da8538","type":"debug","z":"6b2eed1d.c58ea4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":520,"wires":[]},{"id":"20c80d97.a89512","type":"debug","z":"6b2eed1d.c58ea4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":400,"wires":[]}]